<form  *ngIf="showAddTask"    class="add-form" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="text">Task</label><br>
    <input type="text" name="text"[(ngModel)]="text"   id="text" placeholder="Add Task" required>
  </div>
  
  <div class="form-group">
    <label for="Day">Day & Time</label><br>
    <input type="text" name="day"[(ngModel)]="day" id="day" placeholder="Add Day & Time" required><
  </div>
  <div class="form-group">
    <label for="reminder">Set Reminder</label><br>
    <input type="checkbox" name="reminder"[(ngModel)]="reminder" id="reminder"required >
  </div>

  <input type="submit" value="Save-Task" class="btn btn-block">
</form>
<!-- []-for input() for output -->
